<!DOCTYPE html>
<html>
<head>
  <title>Oedo Rubykaigi 03 - Mar 16, 2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Top', root_path %></li>
        <li><%= link_to 'Schedule', schedule_path %></li>
        <li><%= link_to 'Speakers', speakers_path %></li>
        <li><%= link_to 'Venue', venue_path %></li>
        <li><a href="">Register</a></li>
      </ul>
    </nav>
  </header>
<%= yield %>

</body>
</html>
